html,
body {
    scroll-behavior: smooth !important;
}
.textCenter{
    text-align: center !important;
}
#model3D{
    height: 700px;
    width: 500px;
    }
.logo3D{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
}
body {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(190, 190, 190);
    font-family: "Manrope", Helvetica, sans-serif !important;

}
.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-snap-type: y mandatory;
}
section{
    margin-top: 20vh;
    margin-bottom: 20vh;
    padding: 0 5vw;
    /* background-color: rgba(0f,0f,0f, 0.2);
    box-shadow: 0px 0px 15vh rgba(0f,0f,0f, 0.4); */
}
.header{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    /* background-image: linear-gradient(black, rgb(20,20,20), transparent); */
}
.header-flat{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    pointer-events: none;
    /* background-image: linear-gradient(black, rgb(20,20,20), transparent); */
}
.headerBG-fade{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    pointer-events: none;
    background-image: linear-gradient(black, rgb(20,20,20), transparent);
    backdrop-filter: blur(1px);
}
.navbar{
    display: block;
}
.navbar-flat{
    display: block;
    position: absolute;
    right: 2%;
}
.navbar-flat ul, 
.navbar ul{ 
    padding: 0;
    margin: 0;
}
.navbar-flat li,
.navbar li{
    float: left;
    list-style: none;
}
.navbar-flat li a,
.navbar li a{
    display: inline-block;
    padding: 10px;
    color: white !important;
    text-decoration: none;
    pointer-events: initial;
}
.navbar-flat li a:hover,
.navbar li a:hover{
    color: #f47920 !important;
    border-bottom: 2px solid #f47920;
    transition: 0.3s;
}
#Home{
    scroll-margin-top: 20vh;
    scroll-snap-align: start;
}
#AboutUs,
#Services,
#PassivePro,
#Projects,
#Team,
#Group,
#Contact{
    scroll-margin-top: 10vh;
    scroll-snap-align: start;
}
.logo{
    position: relative;
    width: 12rem;
    transition: width .4s cubic-bezier(0,0,0,.2);
    pointer-events: none;
    margin: auto;
}
.logo-flat{
    position: relative;
    width: 12rem;
    transition: width .4s cubic-bezier(0,0,0,.2);
    pointer-events: none;
    left: 2%;
}
.logo a,
.logo-flat a{
    pointer-events: stroke;
}
.head-title {
    position: relative;
    pointer-events: none;
    color: white;
    letter-spacing: 1.125px;
    font-size: 4.6em;
    /* font-weight: 200; */
    font-weight: 300;
    /* text-shadow: 0px 0px 10px black;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); */
    z-index: 2;
}
.title {
    position: relative;
    margin-top: 25vh;
    pointer-events: none;
    color: white;
    letter-spacing: 1.125px;
    font-size: -webkit-xxx-large;
    font-weight: 300;
    /* text-shadow: 0px 0px 10px black;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); */
    z-index: 2;
}
.subtitle {
    text-align: initial;
    position: relative;
    pointer-events: none;
    color: white;
    margin: 4vh 0;
    letter-spacing: 1.125px;
    font-size: 2em;
    font-weight: 300;
    /* text-shadow: 0px 0px 10px black;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); */
    z-index: 2;
}
.subtitle-orange {
    text-align: initial;
    position: relative;
    pointer-events: none;
    color: #f47920;
    margin-top: 10vh;
    margin-bottom: 0vh;
    letter-spacing: 1.125px;
    font-size: 2em;
    font-weight: 300;
    /* text-shadow: 0px 0px 10px black;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4); */
    z-index: 2;
}
.section-title {
    text-align: left;
    position: relative;
    overflow: hidden;
    pointer-events: none;
    margin: 4vh 0;
    font-size: 4em;
    font-weight: 300;
    color: #f47920;
    z-index: 2;
}
section a,
section p,
section h2,
section h3,
section h4{
    position: relative;
    pointer-events: none;
    color: white;
    text-shadow: 1px 1px 5px black;
    /* background-color: rgba(19,19,19, 0.2);
    box-shadow: 0px 0px 20px rgba(19,19,19, 0.4); */
    z-index: 2;
}
section p{
    text-align: initial;
    font-size: 2em;
    font-weight: 200;
}
#Home{
    padding-top: 10vh;
}
canvas {
    position: fixed;
    width: 100vw !important;
    height: 100vh !important;
    left: 0%;
    top: 0%;
    opacity: .9;
}
#references{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    align-items: center;
}
.quote{
    text-align: initial;
    position: relative;
    width: 50%;
    padding: 5vw;
    font-weight: 200;
    font-size: 2em;
    pointer-events: none;
    color: white;
    /* text-shadow: 0px 0px 10px black;
    background-color: rgba(19,19,19, 0.2);
    box-shadow: 0px 0px 20px rgba(19,19,19, 0.4); */
    z-index: 2;
}
.quote::after,
.quote::before {
    position: relative;
    content: url(./logo/close_white_quote.svg) 50% no-repeat;
    z-index: 2;
}

#Services{
    display: flex;
    flex-direction: column;
}
.services{
    width: 90%;
    margin: auto;
    opacity: .4;
    z-index: 2;
}
/* .services:hover{
    opacity: 1;
    pointer-events: none;
    transition-delay:0s;
} */
.services hr{
    position: relative;
    border: 0.1px solid #f47920;
    margin-top: 10vh;
    width: 100%;
    z-index: 2;
}
.services p{
    margin-bottom: 0;
}
.passivePro{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 6vh 0;
    margin: 4vh 0;
    width: 100%;
    backdrop-filter: blur(5px);
    z-index: 2;
    pointer-events: none;
}
.img-container{
    max-width: 80%;
    max-height: 80%;
    margin: auto;
}
video{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}

.passivePro p{
    margin: auto;
    padding-top: 5vh;
    width: 80%;
    text-align: center;
}