@import "config/variable";
@import "config/locomotive-scroll.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

.container {
  position: relative;
  width: 100%;
  font-family: "Roboto", sans-serif;
  &.black-theme {
    background: #242424;
    color: rgb(215, 215, 215);
    .section-container {
      &.gray {
        background: #2d2d2d;
      }
    }
    .quote {
      &::before {
        background: url("./images/close_white.svg") center no-repeat;
      }
      &::after {
        background: url("./images/close_white.svg") center no-repeat;
      }
    }
    .slogan {
      color: #242424;
    }
  }
}
.header {
  position: fixed;
  z-index: 100;
  padding: 0px 2.8rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: all 0.4s cubic-bezier(0, 0, 0, 0.2);
  .logo {
    position: relative;
    width: 12rem;
    transition: width 0.4s cubic-bezier(0, 0, 0, 0.2);
    img {
      position: relative;
      width: 100%;
      z-index: 2;
    }
    .shadow {
      z-index: 1;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity 0.4s cubic-bezier(0.45, 0.25, 0.6, 0.95);
      &.show {
        opacity: 1;
      }
    }
  }
  .burger-menu {
    display: none;
  }
  .navigation {
    .close-btn {
      display: none;
    }
    ul {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      li {
        margin-left: 1.8vw;
        &.active {
          a {
            color: $main-color;
            border-bottom: 2px solid $main-color;
          }
        }
        a {
          padding-bottom: 0.56rem;
          color: white;
          text-decoration: none;
          font-size: 0.93rem;
        }
        &.top-switch {
          display: none;
        }
      }
    }
  }
  &.black-back {
    background: rgba(56, 56, 56, 0.8);
    box-shadow: 0 1px 13px 2px rgba(0, 0, 0, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
}

.main {
  position: relative;
  overflow: hidden;
  .video-container {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
  }
}
.home {
  position: relative;
  min-height: 100vh;
}

.main-slogan {
  position: absolute;
  width: 50%;
  top: 250px;
  left: 60px;
  opacity: 0.8;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: white;
  font-size: 4.35vw;
  & ~ .slogan {
    top: 85vh;
    color: white !important;
  }
}

.slogan {
  position: absolute;
  padding-top: 20px;
  top: -15vh;
  right: 0;
  left: 40%;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: white;
  font-size: 3.65vw;
}

.section-container {
  position: relative;
  padding: 200px 135px;
  overflow: hidden;
  &.gray {
    background-color: #f5f5f5;
  }
}

.title-container {
  margin-bottom: 60px;
}

.d-flex {
  display: flex;
}

.with-title {
  flex: 1;
  margin: 12px 0 0 35px;
}

.section-title {
  overflow: hidden;
  font-size: 5vw;
  height: 5.8vw;
  font-weight: 700;
  color: $main-color;
  font-family: "Playfair Display", serif;
  span {
    display: inline-block;
    transform: translateY(5vw);
    transition: transform 1s cubic-bezier(0.45, 0.25, 0.6, 0.95);
  }
  &.appear {
    span {
      transform: translateY(0);
    }
  }
  & ~ .section-subtitle {
    margin-top: 10px;
  }
}

.section-subtitle {
  margin-top: 50px;
  line-height: 2.4vw;
  font-size: 2vw;
  font-weight: 500;
  width: 100%;
  opacity: 0;
  transform: translate3d(40px, 0, 0);
  transition: opacity 0.5s cubic-bezier(0.45, 0.25, 0.6, 0.95),
    transform 1s cubic-bezier(0.45, 0.25, 0.6, 0.95);
  &.appear {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.text-image {
  position: relative;
  display: flex;
  align-items: center;
  .img-container {
    position: relative;
    z-index: 1;
    width: 50%;
    height: 100%;
    flex: 1;
    img {
      position: relative;
      width: 100%;
    }
    .small-video {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
  .quote {
    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 50%;
      width: 2.5vw;
      height: 2.5vw;
      background: url("./images/close.svg") center no-repeat;
      transform: rotate(180deg);
      opacity: 0.7;
    }
    &::after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 2.5vw;
      height: 2.5vw;
      background: url("./images/close.svg") center no-repeat;
      opacity: 0.7;
    }

    flex: 1;
    z-index: 0;
    position: relative;
    width: 50%;
    padding: 4vw 15px;
    text-align: center;
    font-size: 2vw;
    line-height: 2.5vw;
    font-weight: 300;
  }
  &.big-image {
    .img-container {
      width: 60%;
    }
  }
}
.rect-shape {
  position: absolute;
  bottom: -30px;
  left: -30px;
  width: 50%;
  height: 50%;
  background: rgba($main-color, 0.32);
  &.right {
    left: inherit;
    right: -30px;
  }
  &.big {
    width: 70%;
    height: 70%;
  }
  &.top {
    top: -30px;
    bottom: inherit;
  }
  &.shadow {
    width: 100%;
    height: 100%;
    left: inherit;
    right: -20px;
    bottom: -20px;
  }
}

.caption {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 55px;
    height: 1px;
    background-color: $main-color;
  }
  padding-top: 20px;
  position: relative;
  line-height: 2.5vw;
  font-size: 2vw;
  font-weight: 300;
}

.caption-quotelike {
  position: relative;
  line-height: 2.5vw;
  font-size: 2vw;
  font-weight: 300;
  text-align: center;
}

.right-caption {
  width: 50%;
  margin-left: 15px;
}

.left-caption {
  width: 50%;
  margin-right: 15px;
}

.small-caption {
  font-size: 1.5vw;
  line-height: 1.875vw;
}

.line-caption {
  margin-top: 30px;
  padding-top: 0;
  padding-left: 120px;
}

.appear-caption {
  transition: opacity 0.8s cubic-bezier(0.45, 0.25, 0.6, 0.95),
    transform 0.8s cubic-bezier(0.45, 0.25, 0.6, 0.95);
  opacity: 0;
  transform: translate3d(0, 60px, 0);
  &.appear {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.service-list {
  li {
    transition: opacity 0.5s cubic-bezier(0.45, 0.25, 0.6, 0.95),
      transform 0.5s cubic-bezier(0.45, 0.25, 0.6, 0.95);
    opacity: 0;
    transform: translate3d(0, 60px, 0);
    display: flex;
    align-items: center;
    &:nth-child(2n) {
      flex-direction: row-reverse;
      .service-description {
        margin-left: 0;
        margin-right: 3rem;
      }
    }
    &.appear {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    .service-description {
      margin-left: 3rem;
      width: 85%;
    }
    img {
      width: 15%;
      max-width: 300px;
    }
  }
}

.service-description {
  h5 {
    margin-bottom: 1vw;
    font-size: 1.86vw;
    color: $main-color;
  }
  p {
    font-size: 1.5vw;
    line-height: 1.875vw;
    font-weight: 300;
  }
}

.slick-dots li {
  button:before {
    opacity: 0.5;
    color: rgb(155, 155, 155);
    font-size: 10px;
  }
  &.slick-active button:before {
    opacity: 1;
    color: rgb(155, 155, 155);
  }
}

.project-list {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  & > div {
    width: 100%;
    margin-bottom: 30px;
    transform: translate3d(0, 60px, 0);
  }
}

.project-container {
  margin: 0 5px;
  position: relative;
  overflow: hidden;
  -webkit-transition: box-shadow 0.4s cubic-bezier(0, 0, 0, 0.2);
  transition: box-shadow 0.4s cubic-bezier(0, 0, 0, 0.2);
  &:hover {
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
    img {
      opacity: 1;
    }
    .project-description {
      cursor: pointer;
      background-color: $main-color;
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.ril__toolbarItemChild {
  font-family: "Playfair Display", serif;
}
.ril__captionContent {
  font-family: "Roboto", sans-serif;
}

.project-img-container {
  width: 100%;
  height: 17vw;
  min-height: 230px;
  background: black;
  font-size: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: opacity 0.4s cubic-bezier(0, 0, 0, 0.2);
    transition: opacity 0.4s cubic-bezier(0, 0, 0, 0.2);
  }
}

.project-description {
  &::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 0;
    width: 8px;
    height: 2px;
    background: $main-color;
  }
  position: relative;
  padding: 15px 12px;
  background-color: white;
  color: black;
  font-size: 1rem;
  line-height: 1.2rem;
  -webkit-transition: color 0.3s cubic-bezier(0, 0, 0, 0.2),
    background-color 0.3s cubic-bezier(0, 0, 0, 0.2);
  transition: color 0.3s cubic-bezier(0, 0, 0, 0.2),
    background-color 0.3s cubic-bezier(0, 0, 0, 0.2);
}

.link-like {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 0;
  background: transparent;
  border: none;
  color: $main-color;
  font-family: "Playfair Display", serif;
  font-size: 2.18rem;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: transform 0.2s cubic-bezier(0, 0, 0, 0.2);
  transition: transform 0.2s cubic-bezier(0, 0, 0, 0.2);
  text-decoration: none;
  &.linings-link {
    color: #7fcb2b;
    position: absolute;
    left: 0;
    bottom: 0;
  }
  span {
    display: block;
    margin-right: 15px;
  }
  &:hover {
    -webkit-transform: translate3d(4px, 0, 0);
    transform: translate3d(4px, 0, 0);
  }
  &:focus {
    outline: none;
  }
}

.text-right {
  padding: 0 15px;
  text-align: right;
}

.team-devider {
  margin-bottom: 9px;
  font-size: 0.95rem;
  color: $main-color;
}

.people-list {
  margin: -15px;
  margin-bottom: 30px;
  .item {
    display: inline-block;
    position: relative;
    padding: 15px;
    width: 20%;
    .people-img-container {
      position: relative;
      background-color: black;
      font-size: 0;
      transition: box-shadow 0.3s cubic-bezier(0, 0, 0, 0.2);
      img {
        width: 100%;
        opacity: 0.8;
        transition: opacity 0.3s cubic-bezier(0, 0, 0, 0.2);
        transform: translate3d(0, 0, 0);
      }
      .hover-image {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        filter: alpha(opacity=0);
        transition: opacity 0.3s cubic-bezier(0, 0, 0, 0.2);
      }
    }
    .name-tag {
      position: absolute;
      padding: 10px 14px;
      bottom: 15px;
      left: 15px;
      width: calc(100% - 30px);
      background-color: rgba(244, 121, 32, 0.3);
      color: white;
      text-align: right;
      transition: background-color 0.3s cubic-bezier(0, 0, 0, 0.2);
      .name {
        font-size: 1.6rem;
        font-family: "Playfair Display", serif;
        font-weight: 700;
      }
      .duty {
        margin-top: 5px;
        font-size: 0.95rem;
        font-weight: 400;
        font-style: italic;
      }
    }
    .region {
      position: absolute;
      top: 25px;
      left: 25px;
      font-size: 0.8rem;
      opacity: 0.7;
      font-weight: 700;
      color: white;
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    }
    &:hover {
      .people-img-container {
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.5);
        .self-hover {
          opacity: 1;
        }
        .hover-image {
          filter: alpha(opacity=1);
          opacity: 1;
        }
      }
      .name-tag {
        background-color: rgba(244, 121, 32, 0.7);
      }
    }
  }
}

.projects {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  &::before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    transform: translate(-50%, -50%);
    background: url(./images/project_back.jpg) center/cover no-repeat;
  }
}

.contact-us {
  position: relative;
  width: 100%;
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background: rgba(0, 0, 0, 0.3) url(./images/contact_back.png) center/cover
      no-repeat;
  }
  .contact-list {
    display: flex;
    ul {
      width: 50%;
      li {
        position: relative;
        margin-bottom: 30px;
        h4 {
          &::before {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 20px;
            height: 2px;
            background-color: $main-color;
            opacity: 0.6;
          }
          margin-bottom: 20px;
          padding-top: 10px;
          font-size: 1.875rem;
          font-weight: bold;
          font-family: "Playfair Display", serif;
        }
        p {
          line-height: 1.5rem;
          a {
            color: inherit;
          }
        }
      }
    }
    & > div {
      width: 50%;
    }
    .map-container {
      position: relative;
      border: 1px solid #9a9a9a;
    }
  }
}

.footer {
  position: relative;
  background: #383838;
  color: white;
  min-height: 100vh;
  padding: 300px 135px 0;
  .footer-container {
    display: flex;
  }
  .footer-left {
    flex: 3;
  }
  .bottom-logo {
    width: 120px;
  }
  .bottom-nav {
    li {
      text-align: right;
      margin-top: 30px;
      &:first-child {
        margin-top: 0;
      }
      a {
        font-size: 1.2rem;
        color: $footer-grey;
        text-decoration: none;
      }
    }
  }
  .association-list {
    margin-top: 25px;
    width: 74%;
    border-top: 1px solid rgba($main-color, 0.5);
    display: flex;
    padding-top: 25px;
    li {
      width: 20%;
      padding: 0 0.4vw;
      text-align: center;
      img {
        width: 100%;
        border: 2px solid #888;
        border-radius: 50%;
      }
      p {
        margin-top: 7px;
        font-size: 0.8vw;
        line-height: 1vw;
        color: white;
      }
      .red-font {
        color: $bottom-red;
      }
    }
  }
  .basic-info {
    dt {
      display: none;
    }

    dd {
      color: $footer-grey;
      margin-top: 10px;
      a {
        color: $footer-grey;
        text-decoration: none;
      }
    }
  }
  .copyright {
    margin-top: 70px;
    opacity: 0.3;
  }
}

.icon-author-list {
  margin-top: 10px;
  padding-bottom: 60px;
  color: $footer-grey;
  line-height: 1.2rem;
  a {
    color: $footer-grey;
    text-decoration: none;
  }
}

@include breakpoint("desktop-xl") {
  .section-container {
    padding: 200px 50px;
  }

  .people-list {
    .item {
      width: 25%;
      .name-tag {
        .name {
          font-size: 1.3rem;
        }
        .duty {
          font-size: 0.8rem;
        }
      }
      .region {
        font-size: 0.7rem;
      }
    }
  }
}

@include breakpoint("phone-tablet") {
  .nav-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 200;
    display: none;
    &.open {
      display: block;
    }
  }
  .header {
    padding: 0;
    height: 4rem;
    .logo {
      width: 7rem;
    }
    .burger-menu {
      display: block;
      background: none;
      border: none;
      outline: none;
      padding: 15px;
      span {
        display: block;
        width: 33px;
        height: 2px;
        margin-bottom: 7px;
        position: relative;

        background: white;
        border-radius: 3px;

        z-index: 1;
      }
    }
    .navigation {
      overflow-y: auto;
      z-index: 200;
      position: fixed;
      top: 0;
      right: 0;
      padding: 30px;
      width: 90vw;
      height: 100vh;
      background: #333;
      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      transform: translateX(100vw);
      &.open {
        transform: translateX(0);
      }
      .close-btn {
        display: block;
        position: absolute;
        top: 30px;
        left: 30px;
        padding: 0;
        width: 30px;
        height: 30px;
        background: none;
        outline: none;
        border: none;
        z-index: 2;
        .close-icon {
          width: 100%;
          height: 100%;
        }
      }
      ul {
        flex-direction: column;
        li {
          text-align: right;
          margin-left: 0;
          margin-top: 30px;
          &:first-child {
            margin-top: 0;
          }
          a {
            padding-bottom: 0.3rem;
          }
          &.top-switch {
            display: flex;
          }
        }
      }
    }
    &.black-back {
      .navigation {
        ul {
          li {
            &.active {
              a {
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }
}

.switch-container {
  display: flex;
  align-items: center;
  & > span {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-right: 5px;
  }
}

@include breakpoint("phone-tablet") {
  .main-slogan {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    padding: 0 15px;
    left: 0;
    top: 39vh;
    & ~ .slogan {
      display: none;
    }
  }

  .slogan {
    position: fixed;
    font-size: 2rem;
    top: 70vh;
    left: 0;
    text-align: center;
  }

  .text-image {
    flex-direction: column;
    &.right {
      flex-direction: column-reverse;
      .line-caption {
        margin-top: 20px;
      }
      .img-container {
        margin-top: 30px;
      }
    }
    &.big-image {
      .img-container {
        margin-top: 20px;
        width: 100%;
      }
    }
    .img-container {
      width: 100%;
    }
    .right-caption {
      width: 100%;
      margin-left: 0;
      margin-top: 20px;
    }

    .left-caption {
      width: 100%;
      margin-right: 0;
    }
    .quote {
      &::before {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: -0.6rem;
      }
      width: 100%;
      padding: 40px 15px;
      font-size: 1.3rem;
      line-height: 1.6rem;
      &::after {
        width: 1.5rem;
        height: 1.5rem;
        margin-left: -0.6rem;
      }
    }
  }

  .caption {
    line-height: 2.5rem;
    font-size: 2rem;
  }

  .caption-quotelike {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }

  .people-list {
    display: block;
    .item {
      width: 100%;
    }
  }

  .line-caption {
    padding-top: 20px;
    padding-left: 0;
  }

  .small-caption {
    line-height: 1.7rem;
    font-size: 1.2rem;
  }

  .section-container {
    width: 100%;
    padding: 80px 15px;
  }
  .section-title {
    font-size: 2.5rem;
    height: 3rem;
    span {
      transform: translateY(3rem);
    }
  }

  .section-subtitle {
    font-size: 1.5rem;
    line-height: 1.8rem;
    transform: translate3d(15px, 0, 0);
  }

  .project-list {
    flex-direction: column;
    & > div {
      margin-bottom: 15px;
      width: 100%;
    }
  }

  .service-list {
    li {
      flex-direction: column;
      margin-top: 50px;
      img {
        width: 50%;
      }
      &:first-child {
        margin-top: 0;
      }
      .service-description {
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
        width: 100%;
        h5 {
          margin-bottom: 1rem;
          font-size: 1.3rem;
        }
        p {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
      }
      &:nth-child(2n) {
        flex-direction: column;
        .service-description {
          margin-right: 0;
        }
      }
    }
  }

  .rect-shape {
    left: -15px;
    bottom: -15px;
    &.top {
      top: -15px;
    }
    &.right {
      right: -15px;
    }
    &.shadow {
      right: -15px;
      bottom: -15px;
    }
  }

  .d-flex {
    flex-direction: column;
  }

  .with-title {
    margin-left: 0;
  }

  .contact-us {
    .contact-list {
      flex-direction: column;
      ul {
        width: 100%;
      }
      .map-container {
        width: 100%;
      }
    }
  }

  .text-right {
    padding: 0;
  }

  .link-like {
    font-size: 1.8rem;
    &.linings-link {
      position: relative;
      margin-top: 40px;
    }
  }

  .footer {
    padding: 80px 15px;
    .footer-container {
      flex-direction: column;
    }
    .association-list {
      width: 100%;
      flex-wrap: wrap;
      li {
        margin-bottom: 20px;
        width: 50%;
        p {
          margin-top: 7px;
          font-size: 4vw;
          line-height: 4.5vw;
          color: white;
        }
      }
    }
    .bottom-nav {
      display: none;
    }
  }

  .switch-container {
    align-self: flex-end;
  }
}

@include breakpoint("tablet") {
  .section-container {
    width: 100%;
    padding: 80px 30px;
  }
  .people-list {
    display: block;
    .item {
      width: 50%;
    }
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: $main-color;
}

input:focus + .slider {
  box-shadow: 0 0 1px $main-color;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.z-in-2 {
  z-index: 2;
}