/* Galaxy Fold */
@media only screen and (max-width: 280px){

}
/* Mobile and small devices(min: iPhone SE) */
@media only screen and (min-width: 375px) and (max-width: 600px){
    .head-title{
        font-size: calc(2.5em + 3.5vw) !important;
    }
    .title{
        font-size: calc(1em + 2.5vw) !important
    }

    .services{
        width: 100%;
    }
    .services .subtitle-green{
        font-size: 1.7em;
    }
    img.expandIcon{
        width: 20px;
    }

    .staff{
        /* display: inline-block;
        position: relative; */
        max-width: 95% !important;
        padding: 2% 2.5% !important;
    }
    .group {
        flex-direction: column-reverse;
    }
    .groupInfo {
        flex-direction: column-reverse;
    }
    .groupInfoText{
        width: 100%;
        margin-bottom: 5vh;
    }
    .group .imageContainer{
        width: 100%;
    }
    #Contact .contactInfo{
        flex-direction: column-reverse;
    }
    #Contact .contactInfo > *{
        width: 100%;
    }
    .footerContainer {
        flex-direction: column;
    }
    .footerLeft{
        margin: auto;
        width: 100%;
    }
    .leftBottom{
        display: inherit;
    }
    .leftBottom ul.association-list{
        margin: auto;
        width: 100% !important;
        flex-wrap: wrap;
    }
    ul.association-list li {
        width: 31.1% !important;
        padding: 1%;
        margin: 0 auto;
    }
    ul.association-list li p {
        font-size: 2vw !important;
    }
    .footerRight{
        width: 100%;
        display: initial;
    }
    .footerRight ul.bottom-nav{
        margin: auto;
        padding: 0;
    }
    .footerRight ul.bottom-nav li {
        margin: auto;
    }

}
/* Tablet */
@media only screen and (max-width: 768px) {
    section{
        padding: 0 3vw;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        z-index: 1;
        pointer-events: none;
    }
    section#Home{
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }


    #nzmap {
        display: none;
    }

    .blur{
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }

    .services p {
        font-size: 1.5em;
    }

    .passivePro p{
        width: 100%;
    }

    .imgTitle{
        text-align: center;
    }    
    .staff{
        /* display: inline-block;
        position: relative; */
        max-width: 48%;
        padding: 1%;
    }
    .footer{
        padding: 100px 10vw 0;
    }

    .footerRight{
        padding-right: 10vw;
    }
}
/* Hamburger menu */
@media only screen and (max-width: 839px) {
    .navbar-flat,
    .navbar{
        display: flex;
        flex-direction: column;
        width: 105px;
        top: 0%;
        right: -40%;
        padding: 5px 0;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background-color: rgba(190, 190, 190, 0.3);
        border: transparent;
        border-bottom-left-radius: 10px 10px;
    }
    .navbar-flat.mobile{
        display: flex;
        flex-direction: column;
        width: 105px;
        top: 0%;
        right: 0%;
        padding: 5px 0;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        background-color: rgba(190, 190, 190, 0.3);
        border: transparent;
        border-bottom-left-radius: 10px 10px;
        -webkit-transition: right 0.3s ease;
        -moz-transition: right 0.3s ease;
        -o-transition: right 0.3s ease;
        transition: right 0.3s ease;
    }
    .navbar-flat li,
    .navbar li{
        width: 100%;
        text-align: left;
    }
    .hamburger{
        opacity: 1;
    }
    .hamburger img{
        pointer-events: all;
    }
    .hamburger.active{
        opacity: 0;
    }
    .hamburgerClose {
        display: initial;
    }
    .hamburgerClose img{
        right: -40%;
    }
    .hamburgerClose img.active{
        right: 0%;
        -webkit-transition: right 0.3s ease;
        -moz-transition: right 0.3s ease;
        -o-transition: right 0.3s ease;
        transition: right 0.3s ease;
    }

    
    .aboutUs .subsection:nth-of-type(1) {
        flex-direction: column;
    }
    .aboutUs .subsection:nth-of-type(2) {
        flex-direction: column-reverse;
    }
    .aboutUs .subsection .img-container {
        width: 100%;
    }
    .aboutUs .subsection p{
        width: 100%;
        margin-bottom: 5vh;
    }
    .aboutUs .subsection img{
        margin-bottom: 5vh;
    }
    .aboutUs .subtitle-green{
        margin-top: 0;
    }

    .GlobalPortalInfo{
        flex-direction: column-reverse;        
    }
    .GlobalPortalInfo .img-container,
    .GlobalPortalInfo .info{
        width: 100%;
    }

    .leftBottom{
        display: inherit;
    }
    .leftBottom ul.association-list{
        width: 90%;
        flex-wrap: wrap;
    }
    ul.association-list li {
        width: 31%;
        margin: 0 auto;
    }
    ul.association-list li p {
        font-size: 1.5vw;
    }

    .owl-carousel .owl-item img{
        width: initial !important;
        margin: auto;
    }

}
/* Desktop */
@media only screen and (max-width: 951px) {
    .head-title{
        font-size: 4em;
    }
    .title{
        font-size: 2em;
    }

    #nzmap {
        top: 20%;
        right: 0;
        width: 50%;
    }


    .aboutUs .subsection p{
        font-size: 1.7em;
    }
}